@{
    ViewData["Title"] = "Erste Schritte";
}

<div class="text-center">
    <h1 class="display-4">Willkommen beim Docker Workshop</h1>
    <h3>Wenn du diese Seite siehst hast du die ersten Schritte bereits erfolgreich absolviert. Gratulation!</h3>
</div>

<div class="text-left">
    <h2>Zusammenfassung</h2>
    <p>Fassen wir kurz zusammen was wir bisher durchgeführt haben:</p>
    <ul>
        <li>Kurze Einführung und Geschichte zu Containern, speziell Docker</>
        <li>Erstellung einen Docker Accounts</li>
        <li>Aufruf des Docker Playgrounds</li>
        <li>Start des ersten Containers</li>
    </ul>

    <p>
        Doch was macht der von uns soeben eingegebene Befehl eigentlich? Genau das schauen wir uns im nächsten Schrttitt einmal an.
    </p>

    <h2 id="next-steps">Nächste Schritte</h2>
    <ul>
        <li>Fahre fort mit dem Workshop und erfahre mehr über den Befehl <code class="highlight">docker run</code> in <a href="./Tutorial/Index/">Schritt 1: Eine kurze Erläuterung</a></li>
        <li>Lade dir die <a href="~/slides/Docker Workshop.de.pptx">Präsentation</a> herunter</li>
        <li>Schau in den Quellcode auf <a href="https://github.com/BadMadDev/workshop-getting-started" target="_blank">GitHub</a></li>
    </ul>

</div>

